<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <shipping>
            <fedex_tracking>
                <url_template>https://www.fedex.com/fedextrack/?trknbr=%s</url_template>
            </fedex_tracking>
        </shipping>
    </default>
</config>
